<div class="row">
    <div class="col-md-2">
        <input type="text" class="form-control" ng-model="personModelEdit.firstname" placeholder="Enter First Name">
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" ng-model="personModelEdit.lastname" placeholder="Enter Last Name">
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" ng-model="personModelEdit.address" placeholder="Enter Address">
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" ng-model="personModelEdit.phone" placeholder="Enter Phone Number">
    </div>
    <div class="col-md-2">
        <button class="btn btn-success" ng-click="personForm.updatePerson(personModelEdit)">UPDATE</button>
    </div>
</div>