<!doctype html>
<html>

<head>
    <title> Unit Testing Stuff</title>
</head>

<body ng-app="appName">
    <div ng-controller="samplePersonCtrl">
        {{lastName}}, {{firstName}}
        <br>
        <button ng-click="update()">update</button>

        <sample-person-dir></sample-person-dir>

    </div>

    <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/services/samplePersonService.js"></script>
    <script type="text/javascript" src="/scripts/controller/samplePersonCtrl.js"></script>
    <script type="text/javascript" src="/scripts/directives/samplePersonDir.js"></script>


</body>

</html>