<!doctype html>
<html>

<head>
    <title>Angular Project One</title>
    <style>
        label {
            cursor: pointer;
        }
    </style>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">

</head>
<!--Declaring Angular application-->

<body ng-app="appName">
    <!--<div ng-controller="appCtrl">
    Header value from controller: {{header}}
    <sample-header></sample-header>
</div>
<sample-header></sample-header>-->

    <!-- <h1>Playing with custom header</h1>
    <person-form></person-form>
    <table-form></table-form>
    <h1>From EDIT FORM</h1>
    <edit-form></edit-form>-->
    <!--Learning ng repeat-->
    <!--<div ng-controller="personCtrl">
        <ol>
            <li ng-repeat="person in personArray">{{person.lastName}},{{person.firstName}}</li>
        </ol>

    </div>-->

    <h1> Playing with routers</h1>
    <a href="#!/forms">forms</a>
    <a href="#!/tables">tables</a>
    <a href="#!/random">random</a>
    <div ng-view></div>

    <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="/node_modules/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/controller/appCtrl.js"></script>
    <script type="text/javascript" src="/scripts/directives/personForm.js"></script>
    <script type="text/javascript" src="/scripts/directives/editForm.js"></script>
    <script type="text/javascript" src="/scripts/directives/tableForm.js"></script>
    <script type="text/javascript" src="/scripts/directives/firstDirective.js"></script>
    <script type="text/javascript" src="/scripts/controller/personCtrl.js"></script>
    <script type="text/javascript" src="/scripts/services/personService.js"></script>
    <script type="text/javascript" src="/scripts/services/personFactory.js"></script>
</body>

</html>