<div class="row">
    <div class="col-md-2">
        <input type="text" class="form-control" ng-model="personModel.firstName" placeholder="Enter First Name">
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" ng-model="personModel.lastName" placeholder="Enter Last Name">
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" ng-model="personModel.address" placeholder="Enter Address">
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" ng-model="personModel.phoneNumber" placeholder="Enter Phone Number">
    </div>
    <div class="col-md-2">
        <button class="btn btn-success" ng-click="personForm.addPerson()">Submit</button>
    </div>
</div>