<div class="row">

    <div class="col-md-2">
        <label ng-click='personTable.toggleOrder("firstname")'>First Name</label>
    </div>

    <div class="col-md-2">
        <label ng-click='personTable.toggleOrder("lastname")'>Last Name</label>
    </div>

    <div class="col-md-2">
        <label ng-click='personTable.toggleOrder("address")'>Address</label>
    </div>

    <div class="col-md-2">
        <label ng-click='personTable.toggleOrder("phone")'>Phone Number</label>
    </div>

</div>
<input type="text" ng-model="search" placeholder="search">
<div class="row" ng-repeat="person in personArray|filter:search|orderBy:personTable.sortBy:personTable.sortOrder">


    <div class="col-md-2">
        {{person.firstname}}
    </div>

    <div class="col-md-2">
        {{person.lastname}}
    </div>

    <div class="col-md-2">
        {{person.address}}
    </div>

    <div class="col-md-2">
        {{person.phone}}
    </div>

    <button class="btn btn-primary" ng-click="personForm.editPersonForm(person)"> EDIT</button>
    <button class="btn btn-danger" ng-click="personForm.deletePerson(person.pid)"> DELETE</button>
</div>

<!--<ol>
    <li ng-repeat="person in personArray">{{person.lastName}},{{person.firstName}}</li>
</ol>-->